main-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar {
  height: 100%;
  width: calc(100vw / 6);

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-lg) {
    display: none;
  }

  &__logo-box {
    height: 7rem;
  }

  &__logo {
    height: 100%;
  }

  &__menu-list {
    list-style: none;
    margin-top: $margin-xl;
    text-align: center;
  }

  &__menu-item {
    &:not(:last-of-type) {
      margin-bottom: $margin-sm;
    }
  }

  &__menu-link {
    color: $color-grey-dark;
    text-decoration: none;

    &:hover {
      color: $color-highlight;
      font-weight: 700;
    }
  }

  &__social {
    margin-top: $margin-md;
    display: flex;
    align-items: center;
  }

  &__icon-link {
    text-decoration: none;
    transition: all 0.2s;

    &,
    &:link,
    &:visited {
      color: $color-white;
    }

    &:not(:last-of-type) {
      margin-right: $margin-sm;
    }

    &:hover {
      color: $color-highlight;
      transform: scale(1.2);
    }
  }

  &__icon {
    font-size: 1.6rem;
  }
}

.show {
  display: inherit;
  background-color: $color-primary;
  width: 30%;
  animation: display 3s;

  @media only screen and (max-width: $bp-sm) {
    width: 100%;
  }
}

@keyframes display {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 2.5;
  }
  80% {
    opacity: 5;
  }
  100% {
    opacity: 1;
  }
}
