$color-primary: #34312d;
$color-secondary: #353535;
$color-highlight: #f72585;

$color-white: #fdfdff;
$color-black: #000;
$color-grey: #f3f3f3;
$color-grey-dark: #a5a5a5;

$padding-xxs: 0.5rem;
$padding-xs: 1rem;
$padding-sm: 2rem;
$padding-md: 4rem;
$padding-lg: 6rem;
$padding-xl: 8rem;
$padding-xxl: 12rem;
$content-padding: 3rem;

$margin-xxs: 0.5rem;
$margin-xs: 1rem;
$margin-sm: 2rem;
$margin-md: 4rem;
$margin-lg: 6rem;
$margin-xl: 8rem;
$margin-xxl: 12rem;
$margin-xxxl: 16rem;

$box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
$box-shadow-1: 0 1rem 2rem rgba(0, 0, 0, 0.2);
$box-shadow-2: 0 1rem 2rem rgba(0, 0, 0, 0.1);

$border-radius-sm: 4px;
$border-radius-md: 10px;
$border-radius-lg: 20px;
$border-radius-xl: 40px;

$grid-gap-xxs: 1rem;
$grid-gap-xs: 2rem;
$grid-gap-sm: 4rem;
$grid-gap-md: 6rem;
$grid-gap-lg: 8rem;

$bp-xl: 65em; //1040px
$bp-lg: 62.5em; //1000px
$bp-md: 50em; //800px
$bp-sm: 47.5em; //760px
$bp-xs: 40em; //640px
$bp-xxs: 36.25em; //580px
$bp-xxxs: 30em; //480px
