.email {
  border: 1px solid $color-white;
  text-decoration: none;
  display: flex;
  transition: all 0.4s;

  &__icon-box {
    background-color: $color-white;
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    color: $color-highlight;
    font-size: 1.6rem;
  }

  &__address-box {
    justify-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 $padding-lg;
  }

  &__address {
    color: $color-white;
    font-weight: 700;
  }

  &:hover {
    background-color: rgba($color-highlight, 0.6);
  }
}
